---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/sections/Header.astro";
import Socials from "@/components/sections/Socials.astro";
import Featured from "@/components/sections/Featured.astro";
import Buttons from "@/components/sections/Buttons.astro";
import Footer from "@/components/sections/Footer.astro";
---

<Layout title="Lex Wu's Bio">
  <main>
    <Header />
    <Socials />
    <Featured />
    <Buttons />
    <iframe src="https://lwu877.substack.com/embed" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    <Footer />
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }
  iframe {
    display: block;
    margin: 2rem auto;
    border-radius: 1rem; /* 1rem (16px) */
    width: 100%;
    max-width: 700px;
  }
</style>
